html, body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{

  padding: 10px 0;

}

main {
  flex: 1;
  overflow-y: auto;
  font-size: small;
}

footer{
  color: rgba(13, 125, 217, 0.877);
  font-weight: bolder;
  font-size: smaller;
  text-align: center;
} 


h1 {
  color: rgba(13, 125, 217, 0.877);
  font-weight: bolder;
  font-size: medium;
  text-align: center;
}

h2 {
  color: rgba(13, 125, 217, 0.877);
  font-weight: bolder;
  font-size: medium;
  text-align: left;
}

.buttonsForm {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.loginBackground {
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  max-width: 300px;
  margin: auto;
}

form {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  justify-content: center;
}

.error,
.error-mail,
.error-usuario,
.error-pass,
.error-telefono {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}


.contenedor-lista {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.container-categorias {
  display: flex;
  justify-content: center;   
  gap: 12px;               
  flex-wrap: wrap; 
  margin-bottom: 30px;
}

.container-categorias button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #e9f3fc;
  color: #0d7dd9;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
a
.container-categorias button:hover {
  color: white;
  transform: translateY(-5px);
}

img {
  display: block;
  margin: auto;
}

.contenedor-productos {
  width: 100%;
  max-width: 1200px; 
  margin: 40px auto;   
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;  
  gap: 40px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;  
  gap: 15px;               
  margin: 40px 0;
  flex-wrap: wrap;
}

.contenedor-botones button {
   padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #e9f3fc;
  color: #0d7dd9;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.contenedor-botones button:hover {
  transform: translateY(-5px);
}

.card-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-producto img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  cursor: pointer;
}

.mensaje-vacio {
    text-align: center;
    color: #0d7dd9;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 60px;
}
